{% extends "base.html" %}

{% block title %}Something About Me | MCPC{% endblock %}

{% block content %}
<div>
    <h1>About Myself</h1>
    <h2>Don Wong | 26 August, 2025</h2>
    <p>I am a Middle School (Year 10) Student from Hong Kong, currently studying in the UK. <br> This is my first year in Hack Club, which I discovered on Instagram. <br> Authly caught my attention because of its innovative projects and community.</p>
    <p>This project is a Morse-Code Based Authentication System, for which I am learning *a lot* about CSS and HTML. <br> Since I wasn't much of a programmer before, (not in web development), everything about this project is new and exciting to me. <br></br>It's been a (literally) rewarding challenge to see my ideas come to life through code.</p>
    <del> I also understand now why centering a div is so hard lol </del>
    <p>Looking ahead, I plan to expand my programming skills by learning Kotlin, with the goal of developing Android apps in the future.</p>
    <p>This is just something I wrote to spend my time on lol. You can know more about me on wkydon.dev <br>(if I can buy that domain using the SoM Shells)<br>If the link is still text it means that I still haven't bought it yet.</p>
</div>

<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(64, 59, 59, 0.5);
    }
    div {
        background-color: rgba(64, 59, 59, 0.5);
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        border-radius: 10px;
    }
</style>
{% endblock %}